{
  "name": "test-<name-of-your-choice>",
  "schema": "schema.json",
  "nodes": [
    {
      "name": "LenderNode",
      "userId": "you@domain.com",
      "region": "us-east-2"
    },
    {
      "name": "ServicerNode",
      "userId": "you@domain.com",
      "region": "us-west-2"
    }
  ]
}
