#Share Environment Files
.share.env
.env
*.policy.json
**/.vendia/

# AWS Serverless Application Model (SAM)
.aws-sam
samconfig.toml

# Azure CLI
**/.azure

# Deployable uni artifacts
registration.json

# Python
venv

# VisualStudio Code
.vscode

# Ansible vars file
**/roles/postgres/vars/main.yml
**/roles/kafka/vars/main.yml

# Vagrant files
**/.vagrant/*

#Node
**/node_modules

#OS X
.DS_Store

#IntelliJ IDEA
/.idea/

# Salesforce CLI
.sfdx

# Terraform States
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform