# AWS Serverless Application Model (SAM)
.aws-sam
samconfig.toml

# Deployable uni artifacts
registration.json
init-state.json

# Python
venv

# VisualStudio Code
.vscode

# Ansible vars file
**/roles/postgres/vars/main.yml
**/roles/kafka/vars/main.yml

# Vagrant files
**/.vagrant/*

#Node
node_modules
