{
    "name": "test-<name_of_your_choice>",
    "schema": "schema.json",
    "nodes": [
        {
            "name": "JV1",
            "userId": "you@domain.com",
            "csp": "aws",
            "region": "us-east-1"
        },
        {
            "name": "JV2",
            "userId": "you@domain.com",
            "csp": "aws",
            "region": "eu-west-2"
        }
    ]
}
