{
    "name": "test-kafka-to-share",
    "schema": "schema.json",
    "nodes": [
        {
            "name": "Shipper",
            "userId": "me@domain.com",
            "region": "us-west-2",
            "settings": {
                "apiSettings": {
                    "auth": {
                        "authorizerType": "API_KEY"
                    }
                }
            }
        },
        {
            "name": "Carrier",
            "userId": "me@domain.com",
            "region": "us-west-2",
            "settings": {
                "apiSettings": {
                    "auth": {
                        "authorizerType": "API_KEY"
                    }
                }
            }
        },
        {
            "name": "Consignee",
            "userId": "me@domain.com",
            "region": "us-west-2",
            "settings": {
                "apiSettings": {
                    "auth": {
                        "authorizerType": "API_KEY"
                    }
                }
            }
        }
    ]
}
