{
    "name": "test-graphql-example",
    "schema": "schema.json",
    "initState": "initial-state.json",
    "nodes": [
        {
            "name": "Warehouse",
            "userId": "me@domain.com",
            "region": "us-west-2"
        },
        {
            "name": "Retailer",
            "userId": "me@domain.com",
            "region": "us-east-2"
        }
    ]
}
