export POSTGRES_GRAPHQL_URL=""
export POSTGRES_GRAPHQL_API_KEY=""

export SALESFORCE_GRAPHQL_URL=""
export SALESFORCE_GRAPHQL_API_KEY=""
export SALESFORCE_NOTIFICATION_TOPIC=""

export SALESFORCE_TOKEN_URL="https://login.salesforce.com/services/oauth2/token"
export SALESFORCE_USERNAME=""
export SALESFORCE_PASSWORD=""
export SALESFORCE_CONSUMER_KEY=""
export SALESFORCE_CONSUMER_SECRET=""
