{
  "name": "test-<name-of-your-choice>",
  "schema": "schema.json",
  "initState": "initial-state.json",
  "nodes": [
    {
      "name": "Node1",
      "userId": "you@domain.com",
      "region": "us-east-2"
    }
  ]
}