{
    "name": "test-<name_of_your_choice>",
    "schema": "schema.json",
    "nodes": [
        {
            "name": "SupplierNode",
            "userId": "you@domain.com",
            "region": "us-east-1"
        }
    ]
}