{
    "name": "test-sftp-to-share",
    "schema": "schema.json",
    "nodes": [
        {
            "name": "Shipper",
            "userId": "me@domain.com",
            "csp": "aws",
            "region": "us-west-2"
        },
        {
            "name": "Carrier",
            "userId": "me@domain.com",
            "csp": "aws",
            "region": "us-west-2"
        },
        {
            "name": "Consignee",
            "userId": "me@domain.com",
            "csp": "aws",
            "region": "us-west-2"
        }
    ]
}
