{
    "name": "test-dynamo-to-share",
    "schema": "schema.json",
    "nodes": [
        {
            "name": "DistributionCenter",
            "userId": "me@domain.com",
            "csp": "aws",
            "region": "us-east-2"
        },
        {
            "name": "Retailer1",
            "userId": "me@domain.com",
            "csp": "aws",
            "region": "us-west-2"
        }
    ]
}
