{
    "name": "test-graphql-goodies",
    "schema": "schema.json",
    "initState": "initial-state.json",
    "nodes": [
        {
            "name": "Warehouse",
            "userId": "me@domain.com",
            "region": "us-west-2",
            "settings": {
                "apiSettings": {
                    "auth": {
                        "authorizerType": "API_KEY"
                    }
                }
            }
        },
        {
            "name": "Retailer",
            "userId": "me@domain.com",
            "region": "us-east-2",
            "settings": {
                "apiSettings": {
                    "auth": {
                        "authorizerType": "API_KEY"
                    }
                }
            }
        }
    ]
}
